
# Node dependencies
node_modules/

# Next.js build and output
.next/
out/

# Local env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build folders
dist/
build/

# Vercel
.vercel/

